body {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

p {
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    height: 48px;
    padding: 0 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ul {
    gap: 24px;
    font-size: 18px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

.section1 {
    background-color: #1f2937;
    color: #f9faf8;
    height: 256px;
    padding: 96px 96px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section1-left {
    min-width: 300px;
    max-width: 700px;
}

.main-title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    margin: 10px 0;
}

.section1-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border: 0;
    border-radius: 12px;
    width: 140px;
    height: 48px;
}