body {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    height: 48px;
    padding: 0 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ul {
    gap: 24px;
    font-size: 18px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}